.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.delay-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.delay-label input {
  border: #808080 1px solid;
  outline: none;
  padding: 8px 16px;
  transition: all 0.3s ease;
}
.delay-label input:hover {
  border-color: #000000;
}
.fieldset {
  padding: 24px 48px 8px;
  border: #808080 1px solid;
  transition: all 0.3s ease;
}
.fieldset:hover {
  border-color: #000000;
}
.fieldset legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.fieldset label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}
.button {
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}
.button:hover {
  background: #6c8cff;
}
